N8N/Agente para BUSQUEDA.json
{
  "name": "Agente para BUSQUEDA",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        -64
      ],
      "id": "9ea09bd9-9348-42bc-abf0-1811c4b82d72",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Query }}",
        "options": {
          "systemMessage": "Eres un asistente expeto en PostgreSQL. Tu Objetivo es:\n1. Recibir una pregunta o peticion en lenguaje natural sobre los datos de una base de datos de un hospital.\n2. Convertirla unica y exclusivamente en una instruccion SQL SELECT valida.\n3. No ejecutar nunca INSERT, UPDATE ni DELETE.\n4. Al generar la consulta SELECT, siempre usar la funcion SIMILARITY para encontrar busquedas parecidas. En el WHERE usa el operador % para filtrar por similitud\n5. Usar siempre la herramienta \"Execute a SQL query\" para ejecutar la consulta.\n6. Tras la ejecucion, devuelve los resultados en formato JSON, sin ningun texto mas agregado, simplemente la informacion que conseguiste\n7. Si no puedes conseguir informacion devuelves unicamente un JSON vacio\n\n\nA continuacion tienes la **Estructura Completa** de tu base de datos (schema DDL). Usala para conocer nombres de tablas, columnas y tipos:\n\n####################################################################\nScript de creacion de tablas para hospital\n####################################################################\n\nCREATE TABLE IF NOT EXISTS Localidad(\n  id_localidad SERIAL PRIMARY KEY,\n  nombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Grupo_sanguineo(\n  id_grupo SERIAL PRIMARY KEY,\n  grupo VARCHAR(15) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Obra_social(\n  id_obra SERIAL PRIMARY KEY,\n  nombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Impedimento_fisico(\n  id_impedimento SERIAL PRIMARY KEY,\n  nombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Medicamento(\n  id_medicamento SERIAL PRIMARY KEY,\n  nombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Alergia(\n  id_alergia SERIAL PRIMARY KEY,\n  nombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Paciente(\n\tid_paciente SERIAL PRIMARY KEY,\n  nombre VARCHAR(100) NOT NULL,\n  apellido VARCHAR(100) NOT NULL,\n  dni INT NOT NULL,\n\tfecha_nacimiento DATE,\n\tnum_afiliado INT,\n\tnum_domicilio INT,\n\tcalle_domicilio VARCHAR(255),\n\tdepto_domicilio VARCHAR(10),\n  id_localidad INT,\n  id_grupo_sanguineo INT,\n  id_obra_social INT,\n  \n  CONSTRAINT FK_localidad FOREIGN KEY (id_localidad) REFERENCES Localidad(id_localidad),\n  CONSTRAINT FK_grupo_sanguineo FOREIGN KEY (id_grupo_sanguineo) REFERENCES Grupo_sanguineo(id_grupo),\n  CONSTRAINT FK_obra_social FOREIGN KEY (id_obra_social) REFERENCES Obra_social(id_obra)\n);\n\nCREATE TABLE IF NOT EXISTS Paciente_impedimento (\n  id_paciente INT,\n  id_impedimento INT,\n  CONSTRAINT FK_paciente_pac_imp FOREIGN KEY (id_paciente) REFERENCES Paciente(id_paciente),\n  CONSTRAINT FK_impedimento FOREIGN KEY (id_impedimento) REFERENCES Impedimento_fisico(id_impedimento),\n  CONSTRAINT PK_paciente_impedimento PRIMARY KEY (id_paciente,id_impedimento)\n);\n\nCREATE TABLE IF NOT EXISTS Paciente_medicamento (\n  id_paciente INT,\n  id_medicamento INT,\n  CONSTRAINT FK_paciente_pac_med FOREIGN KEY (id_paciente) REFERENCES Paciente(id_paciente),\n  CONSTRAINT FK_medicamento FOREIGN KEY (id_medicamento) REFERENCES Medicamento(id_medicamento),\n  CONSTRAINT PK_paciente_medicamento PRIMARY KEY (id_paciente,id_medicamento)\n);\n\nCREATE TABLE IF NOT EXISTS Paciente_alergia (\n  id_paciente INT,\n  id_alergia INT,\n  CONSTRAINT FK_paciente_pac_alerg FOREIGN KEY (id_paciente) REFERENCES Paciente(id_paciente),\n  CONSTRAINT FK_alergia FOREIGN KEY (id_alergia) REFERENCES Alergia(id_alergia),\n  CONSTRAINT PK_paciente_alergia PRIMARY KEY (id_paciente,id_alergia)\n);\n\n------------------------------------------------------------------------------------------------------------\n\nCREATE TABLE IF NOT EXISTS Profesional (\n\tlegajo SERIAL PRIMARY KEY,\n\tnombre VARCHAR(100) NOT NULL,\n\tapellido VARCHAR(100) NOT NULL,\n\tmatricula INT NOT NULL,\n\temail VARCHAR(255),\n\ttelefono INT,\n\tfecha_contratacion DATE NOT NULL\n);\n\nCREATE TABLE IF NOT EXISTS Especialidad (\n\tid_especialidad SERIAL PRIMARY KEY,\n\tdescripcion VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Profesional_especialidad (\n\tlegajo_profesional INT,\n\tid_especialidad INT,\n\tCONSTRAINT FK_profesional_esp FOREIGN KEY (legajo_profesional) REFERENCES Profesional (legajo),\n\tCONSTRAINT FK_especialidad_pro FOREIGN KEY (id_especialidad) REFERENCES Especialidad (id_especialidad),\n\tCONSTRAINT PK_pro_esp PRIMARY KEY (legajo_profesional,id_especialidad)\n);\n\n------------------------------------------------------------------------------------------------------------\n\nCREATE TABLE IF NOT EXISTS Sector (\n\tid_sector SERIAL PRIMARY KEY,\n\tletra CHAR NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Consultorio (\n\tnumero SERIAL PRIMARY KEY,\n\tid_sector INT,\n\tCONSTRAINT FK_sector_con FOREIGN KEY (id_sector) REFERENCES Sector (id_sector)\n);\n\nCREATE TABLE IF NOT EXISTS Equipamiento (\n\tid_equipamiento SERIAL PRIMARY KEY,\n\tnombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Consultorio_equipamiento (\n\tnum_consultorio INT,\n\tid_equipamiento INT,\n\tCONSTRAINT FK_consultorio_con_equip FOREIGN KEY (num_consultorio) REFERENCES Consultorio (numero),\n\tCONSTRAINT FK_equipamiento_con_equip FOREIGN KEY (id_equipamiento) REFERENCES Equipamiento (id_equipamiento),\n\tCONSTRAINT PK_consultorio_equipamiento PRIMARY KEY (num_consultorio,id_equipamiento)\n);\n\n------------------------------------------------------------------------------------------------------------\n\nCREATE TABLE IF NOT EXISTS Estado_turno (\n\tid_estado SERIAL PRIMARY KEY,\n\testado VARCHAR(150) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Turno (\n\tid_turno SERIAL PRIMARY KEY,\n\tfecha DATE NOT NULL,\n\thora TIME NOT NULL,\n\tid_paciente INT NOT NULL,\n\tlegajo_profesional INT NOT NULL,\n\tnum_consultorio INT NOT NULL,\n\tid_estado INT NOT NULL,\n\tCONSTRAINT FK_paciente_tur FOREIGN KEY (id_paciente) REFERENCES Paciente (id_paciente),\n\tCONSTRAINT FK_profesional_tur FOREIGN KEY (legajo_profesional) REFERENCES Profesional (legajo),\n\tCONSTRAINT FK_consultorio_tur FOREIGN KEY (num_consultorio) REFERENCES Consultorio (numero),\n\tCONSTRAINT FK_estado_tur FOREIGN KEY (id_estado) REFERENCES Estado_turno (id_estado)\n);\n\nCREATE TABLE IF NOT EXISTS Historia_clinica (\n\tid_historiaClinica SERIAL PRIMARY KEY,\n\tid_paciente INT NOT NULL,\n\tid_turno INT,\n\tfecha DATE,\n\tobservacion TEXT,\n\tCONSTRAINT FK_paciente_historia FOREIGN KEY (id_paciente) REFERENCES Paciente (id_paciente),\n\tCONSTRAINT FK_turno_historia FOREIGN KEY (id_turno) REFERENCES Turno (id_turno)\n);\n\n------------------------------------------------------------------------------------------------------------\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -64
      ],
      "id": "b7cc098a-1ea8-45f9-9d9f-471daf4c29cf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -16,
        144
      ],
      "id": "054ce2bf-9c48-4e9d-ac53-d46232f4e869",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3ooSb8tzs3W5RFfE",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $fromAI('output') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        128,
        144
      ],
      "id": "3bf4e827-7e2e-4962-8960-35e34ac075c9",
      "name": "QUERY",
      "credentials": {
        "postgres": {
          "id": "p61ZoxiCpwO244PW",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "QUERY": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "622c0bf7-beed-4ddf-ade8-63cc6a9bad7e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d840d27d053efb15625591294fb1f62a8b26fe1046aaec7fbd331072dbb2d25"
  },
  "id": "V6mrCBrZMPqbBb3Z",
  "tags": []
}