N8N/Agente para BUSQUEDA.json
{
  "name": "Agente para BUSQUEDA",
  "nodes": [
    {
      "parameters": {
        "content": "## Agente",
        "height": 224,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -80,
        -128
      ],
      "id": "a3188845-8740-4a1f-8524-100c681aa4c9",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "\n",
        "height": 224,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -144,
        160
      ],
      "id": "0543ad59-35ea-4e21-b16b-50421d742d47",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        -128
      ],
      "id": "09c8392f-83aa-4310-a41a-fd0b7fbb38ae",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -64
      ],
      "id": "9ea09bd9-9348-42bc-abf0-1811c4b82d72",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output.query }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        640,
        -80
      ],
      "id": "1ee90c1a-f9df-4d54-8454-889c6ccd0191",
      "name": "Execute a SQL query",
      "retryOnFail": false,
      "credentials": {
        "postgres": {
          "id": "p61ZoxiCpwO244PW",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "### Base de datos",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        592,
        -128
      ],
      "id": "70d803e8-4586-44e5-8f7a-f36b37b0bcd1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Query }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Eres un asistente expeto en PostgreSQL. Tu Objetivo es:\n1. Recibir una pregunta o peticion en lenguaje natural sobre los datos de una base de datos de un hospital.\n2. Convertirla unica y exclusivamente en una instruccion SQL SELECT valida.\n3. No ejecutar nunca INSERT, UPDATE ni DELETE.\n4. Devolver la query unicamente, sin ningun agregado mas, por ejemplo \"SELECT * FROM Profesional\".\n5. Si la solicitud se puede responder con la DB, devuelve un JSON: {\"status\": \"success\", \"sql\": \"SELECT...\"}.\n6. Si la solicitud NO tiene relación con la DB o no existe esa info, devuelve: {\"status\": \"error\", \"message\": \"No puedo responder esto con la base de datos actual\"}.\n\nA continuacion tienes la **Estructura Completa** de tu base de datos (Tablas y Vistas). Usala para conocer nombres de tablas o vistas, columnas y tipos:\n\n####################################################################\nScript de creacion de tablas para hospital\n####################################################################\n\n# Cuando se te consulte acerca de obras sociales existentes accede a esta tabla\nCREATE TABLE IF NOT EXISTS Obra_social(\n  id_obra SERIAL PRIMARY KEY,\n  nombre VARCHAR(255) NOT NULL UNIQUE\n);\n\n# Cuando se te consulte acerca de la informacion de un o unos pacientes accede a esta vista\nCREATE OR REPLACE VIEW v_paciente AS\n  SELECT\n    p.id_paciente,\n    p.nombre,\n    p.apellido,\n    p.dni,\n    p.fecha_nacimiento,\n    p.num_afiliado,\n    p.num_domicilio,\n    p.calle_domicilio,\n    p.depto_domicilio,\n    l.nombre AS localidad,\n    gs.grupo AS grupo_sanguineo,\n    os.nombre AS obra_social\n  FROM\n    paciente p\n    INNER JOIN grupo_sanguineo gs ON gs.id_grupo = p.id_grupo_sanguineo\n    INNER JOIN obra_social os ON os.id_obra = p.id_obra_social\n    INNER JOIN localidad l ON l.id_localidad = p.id_localidad\n  ORDER BY\n    id_paciente;\n\n# Cuando se te consulte acerca de los impedimentos fisicos de un paciente accede a esta vista\nCREATE OR REPLACE VIEW v_paciente_impedimento AS\n  SELECT\n    p.id_paciente,\n    p.nombre,\n    p.apellido,\n    p.dni,\n    p.fecha_nacimiento,\n    p.num_afiliado,\n    if.nombre AS impedimento_fisico\n  FROM\n    paciente p\n    INNER JOIN paciente_impedimento pi ON pi.id_paciente = p.id_paciente\n    INNER JOIN impedimento_fisico if ON if.id_impedimento = pi.id_impedimento\n  ORDER BY\n    p.id_paciente;\n\n# Cuando se te consulte acerca de los medicamentos que consume un paciente accede a esta vista\nCREATE OR REPLACE VIEW v_paciente_medicamento AS\n  SELECT\n    p.id_paciente,\n    p.nombre,\n    p.apellido,\n    p.dni,\n    p.fecha_nacimiento,\n    p.num_afiliado,\n    m.nombre AS medicamento_recetado\n  FROM\n    paciente p\n    INNER JOIN paciente_medicamento pm ON pm.id_paciente = p.id_paciente\n    INNER JOIN medicamento m ON m.id_medicamento = pm.id_medicamento\n  ORDER BY\n    p.id_paciente;\n\n# Cuando se te consulte acerca de las alergias de un paciente accede a esta vista\nCREATE OR REPLACE VIEW v_paciente_alergia AS\n  SELECT\n    p.id_paciente,\n    p.nombre,\n    p.apellido,\n    p.dni,\n    p.fecha_nacimiento,\n    p.num_afiliado,\n    a.nombre AS alergia\n  FROM\n    paciente p\n    INNER JOIN paciente_alergia pa ON pa.id_paciente = p.id_paciente\n    INNER JOIN alergia a ON pa.id_alergia = pa.id_alergia\n  ORDER BY\n    p.id_paciente;\n\n------------------------------------------------------------------------------------------------------------\n\n# Cuando se te consulte acerca de la informacion de un o unos profesionales accede a esta vista\nCREATE OR REPLACE VIEW v_profesional AS\n  SELECT\n    p.legajo,\n    p.nombre,\n    p.apellido,\n    p.matricula,\n    p.email,\n    p.telefono,\n    p.fecha_contratacion,\n    pe.especialidades\n  FROM\n    profesional p\n    INNER JOIN v_profesional_especialidades pe ON pe.legajo_profesional = p.legajo\n  ORDER BY\n    legajo;\n\n------------------------------------------------------------------------------------------------------------\n\nCREATE TABLE IF NOT EXISTS Sector (\n\tid_sector SERIAL PRIMARY KEY,\n\tletra CHAR NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Consultorio (\n\tnumero SERIAL PRIMARY KEY,\n\tid_sector INT,\n\tCONSTRAINT FK_sector_con FOREIGN KEY (id_sector) REFERENCES Sector (id_sector)\n);\n\nCREATE TABLE IF NOT EXISTS Equipamiento (\n\tid_equipamiento SERIAL PRIMARY KEY,\n\tnombre VARCHAR(255) NOT NULL UNIQUE\n);\n\nCREATE TABLE IF NOT EXISTS Consultorio_equipamiento (\n\tnum_consultorio INT,\n\tid_equipamiento INT,\n\tCONSTRAINT FK_consultorio_con_equip FOREIGN KEY (num_consultorio) REFERENCES Consultorio (numero),\n\tCONSTRAINT FK_equipamiento_con_equip FOREIGN KEY (id_equipamiento) REFERENCES Equipamiento (id_equipamiento),\n\tCONSTRAINT PK_consultorio_equipamiento PRIMARY KEY (num_consultorio,id_equipamiento)\n);\n\n------------------------------------------------------------------------------------------------------------\n\n# Cuando se te consulte acerca de la informacion de un o unos turnos medicos accede a esta vista\nCREATE OR REPLACE VIEW v_turno AS\n  SELECT\n    t.id_turno,\n    t.fecha,\n    t.hora,\n    pa.nombre AS nombre_paciente,\n    pa.apellido AS apellido_paciente,\n    pa.dni AS dni_paciente,\n    pro.apellido AS profesional,\n    pro.matricula AS matricula_profesional,\n    pe.especialidades AS especialidades_profesional,\n    t.num_consultorio,\n    s.letra AS sector_consultorio,\n    et.estado AS estado_turno\n  FROM\n    turno t\n    INNER JOIN paciente pa ON pa.id_paciente = t.id_paciente\n    --\n    INNER JOIN profesional pro ON pro.legajo = t.legajo_profesional\n    INNER JOIN v_profesional_especialidades pe ON pe.legajo_profesional = pro.legajo\n    --\n    INNER JOIN estado_turno et ON et.id_estado = t.id_estado\n    --\n    INNER JOIN consultorio c ON c.numero = t.num_consultorio\n    INNER JOIN sector s ON s.id_sector = c.id_sector\n  ORDER BY\n    id_turno;\n\n# Cuando se te consulte acerca de la historia clinica de algun paciente accede a esta tabla\nCREATE TABLE IF NOT EXISTS Historia_clinica (\n\tid_historiaClinica SERIAL PRIMARY KEY,\n\tid_paciente INT NOT NULL,\n\tid_turno INT,\n\tfecha DATE,\n\tobservacion TEXT,\n\tCONSTRAINT FK_paciente_historia FOREIGN KEY (id_paciente) REFERENCES Paciente (id_paciente),\n\tCONSTRAINT FK_turno_historia FOREIGN KEY (id_turno) REFERENCES Turno (id_turno)\n);\n\n------------------------------------------------------------------------------------------------------------\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        -64
      ],
      "id": "359b9423-2784-46f2-858f-16ebc80742a0",
      "name": "Search Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "Success",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "de5d536b-cdf6-42af-8aee-131fe0b2fcc4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad36c8b7-cfec-4572-bd4b-d3ca55f103b3",
                    "leftValue": "={{ $json.output.status }}",
                    "rightValue": "Error",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Error"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        384,
        -64
      ],
      "id": "03973496-5180-4784-aa5a-f269797c6f0c",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a8a5ba2d-df38-4ca5-aeba-f6465ac49917",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        896,
        -80
      ],
      "id": "4a6af3d3-1467-440d-ae94-7dcf045b03e6",
      "name": "If"
    },
    {
      "parameters": {
        "content": "### Detector de error",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        -128
      ],
      "id": "2f0e9236-003b-45b8-b053-db1fe4bff750",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Detector de error",
        "height": 224,
        "width": 192,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        -128
      ],
      "id": "74140eec-d4ee-4f4d-9d7e-060d92702d5e",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Salida Vacia",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        848,
        160
      ],
      "id": "c72ca00c-d88a-43f8-ab04-c534fe9dafca",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"status\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"Enrutamiento: 'Success' si se logro realizar una query correctamente; 'Error' si no se pudo realizar una query con normalidad\",\n            \"enum\": [\"Success\", \"Error\"]\n\t\t},\n\t\t\"query\": {\n\t\t\t\"type\": \"string\",\n\t\t\t\"descripcion\": \"query formada en base a la consulta solicitada\"\n\t\t}\n\t},\n    \"required\": [\"status\",\"query\"],\n    \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        48,
        208
      ],
      "id": "c5900ee1-9284-4b22-bdb3-31d0a34fca2d",
      "name": "Output Parser"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"output_query\": \"[]\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        224
      ],
      "id": "38a624be-59e8-4a71-a687-4613ee560f1e",
      "name": "Response"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "output_query",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        -64
      ],
      "id": "6e42b496-1f1e-4ff3-9ae5-7027dfec999d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "content": "### Salida",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        -128
      ],
      "id": "c10503fa-e185-4d85-9804-ccc037f5466d",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        64,
        -352
      ],
      "id": "a188c939-6640-4b2a-9b8f-4b9025bb36b4",
      "name": "Google Gemini Chat Model Search",
      "credentials": {
        "googlePalmApi": {
          "id": "5uMTJy6gAPU6PkXz",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "\n",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -416
      ],
      "id": "9267f2f3-ae12-467a-b6a1-a5557dcd24a1",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        208
      ],
      "id": "18248d96-57b4-46c3-9313-aa13dcbe29a7",
      "name": "Google Gemini Chat Model Parser",
      "credentials": {
        "googlePalmApi": {
          "id": "5uMTJy6gAPU6PkXz",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "Query": "la informacion de los turnos del profesional cabrera"
        }
      }
    ]
  },
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Search Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model Search": {
      "ai_languageModel": [
        [
          {
            "node": "Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model Parser": {
      "ai_languageModel": [
        [
          {
            "node": "Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "22ae9a1d-28ce-4a19-abf0-0c912579812b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d840d27d053efb15625591294fb1f62a8b26fe1046aaec7fbd331072dbb2d25"
  },
  "id": "V6mrCBrZMPqbBb3Z",
  "tags": []
}