N8N/Agente para DRIVE.json
{
  "name": "Agente para DRIVE",
  "nodes": [
    {
      "parameters": {
        "content": "## Respuesta\n",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        128
      ],
      "id": "9c0b66a8-c892-44d4-a2e0-bb140dea152b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\": \"success\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        192
      ],
      "id": "99809eb6-9e43-454d-8df3-ea87cd147be3",
      "name": "Response"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Data",
              "type": "array"
            },
            {
              "name": "filename"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -256,
        192
      ],
      "id": "650753d3-628b-4553-994f-9a4fef25b61b",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        144,
        192
      ],
      "id": "cea3a91f-8513-41e0-84a9-ae27ae66f87c",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.filename }}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "root",
          "mode": "list",
          "cachedResultName": "/ (Root folder)",
          "cachedResultUrl": "https://drive.google.com/drive"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        192
      ],
      "id": "7b48f906-efe8-4bad-aee0-f3f58af85a88",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "tn9hSqLDF9dyFDqB",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Subiendo archivo\n",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        352,
        128
      ],
      "id": "5d525d5a-42fa-430b-a423-3628e3025e81",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "### Formateo de datos",
        "height": 224,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -48,
        128
      ],
      "id": "4939af3f-52ef-41bb-84a1-d09801861ab7",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -304,
        128
      ],
      "id": "c64fb24a-5b77-4b80-900d-eb930f7e4a8c",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        0,
        192
      ],
      "id": "43004b7f-6065-44e1-94d8-94a877245bcd",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload file": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7632d8f3-8e05-4382-984d-c4cb56612a6a",
  "meta": {
    "instanceId": "5d840d27d053efb15625591294fb1f62a8b26fe1046aaec7fbd331072dbb2d25"
  },
  "id": "SDobU1LenH0a63jA",
  "tags": []
}