N8N/Agente para MAILS.json
{
  "name": "Agente para MAILS",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Email"
            },
            {
              "name": "Subject"
            },
            {
              "name": "Body",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -880,
        -80
      ],
      "id": "05ccd5a6-2185-489c-a71f-2a241289397c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -928,
        -144
      ],
      "id": "ee67d6cf-ee64-4c62-a7de-c17542dc8e86",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Formateo de datos",
        "height": 224,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -672,
        -144
      ],
      "id": "6f26937e-c37b-4936-8409-05b77346ed14",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Respuesta",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -144
      ],
      "id": "e2c12bad-d6ab-4d5e-91fe-59c9c158b8bf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"status\": \"success\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        -80
      ],
      "id": "9c6b515b-64b7-48ee-bd64-6538ac4c0049",
      "name": "Response"
    },
    {
      "parameters": {
        "sendTo": "={{ $('When Executed by Another Workflow').item.json.Email }}",
        "subject": "={{ $('When Executed by Another Workflow').item.json.Subject }}",
        "message": "=<div style=\"text-align: center; padding-bottom: 20px;\">\n    <img src=\"https://drive.usercontent.google.com/download?id=1EO85ctQz1vSIsCZxBOy3eIiXSdE2h4-l&authuser=0\" \n         alt=\"Logo CheckinMed\" \n         style=\"max-width: 350px; height: auto; display: block; margin: 0 auto;\">\n</div>\n<hr style=\"border: 0; border-top: 1px solid #eee; margin-bottom: 20px;\">",
        "options": {
          "appendAttribution": false,
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -224,
        -80
      ],
      "id": "ab972ec2-71a8-4f0e-afb1-950426605b6a",
      "name": "Send a message1",
      "webhookId": "cf29a891-bd1a-4b31-961b-be68d446bc90",
      "credentials": {
        "gmailOAuth2": {
          "id": "BVsO5UnBfBpvWBkD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "headerRow": true
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -480,
        -80
      ],
      "id": "eaf23ae7-6799-4b06-a602-88598ae9f093",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "fieldToSplitOut": "Body",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -624,
        -80
      ],
      "id": "2ba16a08-315c-4e55-9ac4-acb645da95ff",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "### Enviando Archivo",
        "height": 224,
        "width": 192,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -272,
        -144
      ],
      "id": "1929096e-0b77-4dd5-8db2-84d6e67fb646",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response": {
      "main": [
        []
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3ad8a33b-7420-49fe-8366-fe1c87edce4b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d840d27d053efb15625591294fb1f62a8b26fe1046aaec7fbd331072dbb2d25"
  },
  "id": "Ki5T4RuIqmHUgq1a",
  "tags": []
}