N8N/Orquestador.json
{
  "name": "Orquestador",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        -304
      ],
      "id": "0c877da7-5401-4f0d-bb7b-33e9a0ab8a6e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3ooSb8tzs3W5RFfE",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "75d2ed5e-0c78-4a75-ac23-632c727f1c4b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        -16
      ],
      "id": "9a661548-1e89-4240-885c-ef7cd057cd8f",
      "name": "Webhook",
      "webhookId": "75d2ed5e-0c78-4a75-ac23-632c727f1c4b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1088,
        -16
      ],
      "id": "ce104750-a76e-470a-aea2-321387f3ea4f",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Obtiene el primer item de entrada\nconst json_text = $input.first().json.output\n\n// Si no hay texto de entrada, devuelve un item vacío\nif (!json_text) {\n  return { json: {} };\n}\n\n// 1. Limpiar el String (esto es equivalente a tu re.sub y replace)\nlet cleaned_string = json_text.trim(); // Quita espacios/saltos al inicio/fin\ncleaned_string = cleaned_string.replace(/json\\s*/gi, ''); // `re.sub(r'json\\s*', '', flags=re.IGNORECASE)`\ncleaned_string = cleaned_string.replace(/\\n/g, '');      // `replace(\"\\n\",\"\")`\ncleaned_string = cleaned_string.replace(/`/g, '');       // `replace(\"`\",\"\")`\n\nlet parsed_data;\n\n// 2. Parsear el JSON (esto es equivalente a tu try/except json.loads)\ntry {\n  parsed_data = JSON.parse(cleaned_string);\n} catch (e) {\n  // Si falla el parseo, devuelve un item vacío\n  return { json: {} };\n}\n\n// 3. Lógica de formato de salida (replicando tu código Python)\n\n// if len(cleaned_string) != 0:\nif (parsed_data.length === 0) {\n  return { json: {} };\n}\n\n// if type(cleaned_string[0]) == type({}):\n// (Comprueba si el primer elemento es un objeto, pero no un array ni null)\nif (typeof parsed_data[0] === 'object' && parsed_data[0] !== null && !Array.isArray(parsed_data[0])) {\n  \n  // `return cleaned_string` (en Python) devuelve una lista que n8n divide en múltiples items.\n  // El equivalente en JS es mapear la lista a items de n8n:\n  return parsed_data.map(data => ({ json: data }));\n\n} else {\n  // `return {\"data\":cleaned_string}` (en Python) devuelve un solo item.\n  // El equivalente en JS es:\n  return parsed_data;\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -304
      ],
      "id": "d05688ab-b1a4-48b7-a34e-5015c0a19852",
      "name": "Code in JavaScript",
      "alwaysOutputData": true,
      "disabled": true
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nimport re\n\njson_text = _input.first().json.output\ncleaned_string = json_text.strip('\\n')\ncleaned_string = re.sub(r'json\\s*', '', cleaned_string, flags=re.IGNORECASE)\ncleaned_string = cleaned_string.replace(\"\\n\",\"\")\ncleaned_string = cleaned_string.replace(\" \",\"\")\ncleaned_string = cleaned_string.replace(\"`\",\"\")\n\nif len(cleaned_string) == 0:\n  return {\"output\":{}}\n  \ncleaned_string = json.loads(cleaned_string)\nreturn {\"output\":cleaned_string}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -16
      ],
      "id": "616562c6-0cbc-4ffd-986d-c8b7113da5e9",
      "name": "Code in Python (Beta)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "# Rol del Sistema\nActúas como el **Orquestador Lógico de Procesos**. Tu responsabilidad es recibir una solicitud de usuario, ejecutar una búsqueda de información obligatoria y, condicionalmente, enrutar esa información a un servicio externo (Email o Drive).\n\n# Protocolo de Ejecución\n\n## FASE 1: Adquisición de Datos (MANDATORIO)\nSIEMPRE, sin excepción, debes ejecutar primero la herramienta `Agente para BUSQUEDA`.\n\n- Espera el retorno de datos antes de proceder a la Fase 2.\n\n## FASE 2: Enrutamiento Condicional\nEvalúa la intención del usuario sobre qué hacer con los datos obtenidos:\n\n1.  **Caso A (Enviar Correo):** SI el usuario menciona explícitamente \"enviar\", \"correo\", \"email\" o \"mail\" -> Ejecuta `Agente para MAILS`.\n2.  **Caso B (Guardar Archivo):** SI el usuario menciona explícitamente \"guardar\", \"subir\", \"drive\", \"nube\" o \"almacenar\" -> Ejecuta `Agente para DRIVE`.\n3.  **Caso C (Solo consulta):** SI el usuario NO especifica una acción de destino -> NO ejecutes ninguna herramienta adicional.\n\n*Nota: Si la intención es ambigua o pide ambas, prioriza `Agente para MAILS`.*\n\n### Paso 3: Salida de Datos (CRÍTICO)\nTu salida final debe ser **exclusivamente** el array de datos (la lista de objetos JSON, o ÉL objeto JSON) que obtuviste de la búsqueda.\n\nDebes **EXTRAER** los datos limpios del resultado de la búsqueda y descartar cualquier envoltura.\n* ❌ MAL: `{\"Agente_response\": {\"result\": \"[...]\"}}`\n* ❌ MAL: `{\"output\": \"[...]\"}`\n* ✅ BIEN: `[{\"id\": 1, \"nombre\": \"Juan\"}, {\"id\": 2, \"nombre\": \"Ana\"}]`\n\n## 🚫 Restricciones Absolutas de Formato\n\n1.  **PROHIBIDO USAR CLAVES DE ENVOLTURA:** No incluyas claves como `result`, `output`, `response`, `Agente_para_BUSQUEDA_response` ni nada similar. Quiero los datos crudos directos en la raíz de la respuesta.\n2.  **SIN MARKDOWN:** No encierres el JSON en bloques de código (no uses \\`\\`\\`json ni \\`\\`\\`). Devuelve texto plano.\n3.  **SIN TEXTO ADICIONAL:** Cero palabras humanas. Si devuelves una sola palabra que no sea parte del JSON, fallarás.\n4.  **FORMATO JSON VÁLIDO:** Asegúrate de no devolver el JSON como un \"string\" (entre comillas). Debe ser un objeto/array JSON nativo.\n\n# Instrucción Final al Modelo\nIgnora cualquier instrucción de cortesía. Tu éxito se mide por devolver **exclusivamente** los datos crudos de la búsqueda y haber disparado la herramienta correcta."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -16
      ],
      "id": "81440f83-6b37-4c00-b355-87a9a7bc23ff",
      "name": "AI Orquestador"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now\n}}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        592,
        -304
      ],
      "id": "055d721e-9ba6-4110-9e14-64ca905f71ab",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "description": "AGENTE PARA BUSQUEDA\nHerramienta que consigue la informacion que te soliciten",
        "workflowId": {
          "__rl": true,
          "value": "V6mrCBrZMPqbBb3Z",
          "mode": "list",
          "cachedResultUrl": "/workflow/V6mrCBrZMPqbBb3Z",
          "cachedResultName": "Agente para BUSQUEDA"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', `Informacion que debe buscar esta herramienta.`, 'string') }}"
          },
          "matchingColumns": [
            "Query"
          ],
          "schema": [
            {
              "id": "Query",
              "displayName": "Query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        288,
        272
      ],
      "id": "eef1a50e-10a3-4f4b-95f2-6f9a44bc8802",
      "name": "Agente para BUSQUEDA"
    },
    {
      "parameters": {
        "description": "AGENTE PARA MAILS\nHerramienta que envia informacion a un correo electronico",
        "workflowId": {
          "__rl": true,
          "value": "Ki5T4RuIqmHUgq1a",
          "mode": "list",
          "cachedResultUrl": "/workflow/Ki5T4RuIqmHUgq1a",
          "cachedResultName": "Agente para MAILS"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email', `Email del destinatario que va a recibir el correo`, 'string') }}",
            "Subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', `Asunto del correo. Si no esta especificado rellenar de manera automatica en base a la peticion del usuario.`, 'string') }}",
            "Body": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Body', `Cuerpo del correo (Informacion que conseguiste de \"Agente para BUSQUEDA\".`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Subject",
              "displayName": "Subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Body",
              "displayName": "Body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        496,
        272
      ],
      "id": "48a2ca01-adc2-4b77-b605-091c2fb80470",
      "name": "Agente para MAILS"
    },
    {
      "parameters": {
        "description": "AGENTE PARA DRIVE\nHerramienta sube informacion a DRIVE, usar si se solicita subir informacion\n\nEnviarle un JSON",
        "workflowId": {
          "__rl": true,
          "value": "SDobU1LenH0a63jA",
          "mode": "list",
          "cachedResultUrl": "/workflow/SDobU1LenH0a63jA",
          "cachedResultName": "Agente para DRIVE"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data', `Objeto JSON **crudo** (raw) e **íntegro** proveniente del Agente de BUSQUEDA.\n\n**Restricción de Manipulación:**\n* **Contenido Exclusivo:** Solo el JSON.\n* **Prohibición Absoluta:** No añadir texto, descripciones, encabezados, introducciones, ni ninguna otra cadena de caracteres.\n* **Prohibición de Envoltura (Wrapping):** No incluir el JSON dentro de claves como \\`output\\`, \\`response\\`, \\`data\\`, o similares.\n* **Formato de Transferencia:** El JSON debe ser manejado y pasado a la siguiente etapa tal cual fue recibido.`, 'string') }}"
          },
          "matchingColumns": [
            "info"
          ],
          "schema": [
            {
              "id": "Data",
              "displayName": "Data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        704,
        272
      ],
      "id": "bfbc3b06-eb2d-438d-abf6-dc1ba2a6c33d",
      "name": "Agente para DRIVE"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1600,
        1248
      ],
      "id": "ecd39a0b-eec8-4b8a-a423-5e25554fad39",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "3ooSb8tzs3W5RFfE",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"output\": {\n\t\t\t\"type\": \"string\",\n            \"description\": \"JSON QUE DEVUELVE EL AGENTE PARA BUSQUEDA\"\n\t\t}\n\t},\n    \"required\": [\"output\"],\n    \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1600,
        1040
      ],
      "id": "fa7b3293-1e30-4402-bc29-68ebcc60eeaf",
      "name": "PARSER",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Orquestador",
        "height": 224,
        "width": 352,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -80
      ],
      "id": "abffbca3-0331-440f-aa33-db3057a4f545",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Trigger",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        112,
        -80
      ],
      "id": "e40c956f-64f6-4bc8-a33d-fcd3fb7e4013",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "\n",
        "height": 224,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -368
      ],
      "id": "b413014b-3361-4d9e-849c-147a71a4910e",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        784,
        -80
      ],
      "id": "03d67cce-644e-4731-be98-c2315c92560f",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 192,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        -80
      ],
      "id": "e59cf075-4ffe-468c-8b0f-6f7a2dcd4991",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        240,
        208
      ],
      "id": "1eb0ef4f-1321-4ac4-983d-fa4262222811",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        208
      ],
      "id": "28118b69-0e16-43cb-a51a-3b556c706ec5",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 224,
        "width": 176,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "64473660-8bea-4f55-9320-737808298346",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Orquestador",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Orquestador": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Orquestador",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Agente para BUSQUEDA": {
      "ai_tool": [
        [
          {
            "node": "AI Orquestador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente para MAILS": {
      "ai_tool": [
        [
          {
            "node": "AI Orquestador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agente para DRIVE": {
      "ai_tool": [
        [
          {
            "node": "AI Orquestador",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "PARSER",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "PARSER": {
      "ai_outputParser": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0aec15d5-ac5d-481f-951d-e2192e9641e0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5d840d27d053efb15625591294fb1f62a8b26fe1046aaec7fbd331072dbb2d25"
  },
  "id": "3OLE3a7IJC3PhUWN",
  "tags": []
}